*{
    margin: 0;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vh;
    color: #fff;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    height: 100vh;
    width: auto;
    background-color: rgb(14, 20, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.e, .eTwo, .n, .t, .r{
    transition-duration: 400ms;
    transition-property: inherit;
    transition-delay: 0;
    transition-timing-function: ease-out;
}

.e:hover{
    transform: translateY(10vh) translateX(-25vh);

}